/* -------------------------------- 

File#: _1_infinite-scroll
Title: Infinite Scroll
Descr: Infinite Scroll plugin to automatically add new content to the page
Usage: codyhouse.co/license

-------------------------------- */

/* ⚠️ This component doesn't include any custom SCSS */