/* -------------------------------- 

File#: _2_hiding-nav
Title: Auto Hiding Navigation
Descr: A Navigation that auto-hides when the user scrolls down, and is revealed when they scrolls back up
Usage: codyhouse.co/license

-------------------------------- */

.hide-nav {
  position: sticky;
  top: 0;
  will-change: transform;
  transition: transform 0.3s, background-color 0.3s;
}

.hide-nav-header {

  background-color: #e8e8e8;
}

.hide-nav--fixed {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: transparent;
}

.hide-nav--has-bg {
  background-color: gray;
}

.hide-nav--off-canvas { // main header is off-canvas
  // add off-canvas custom style (if any)
}